<div class="container">
  <div class="header">
    <i class="header material-icons">list</i>
    <h1>Subgrupos</h1>
    <h3>Todos los subgrupos de tu empresa</h3>
  </div>
  <div class="edit">

    <div class="input">
      <span>Nombre del subgrupo</span>
      <input type="text" [(ngModel)]="model.subgroupName" value="" placeholder="Introduce el nombre del subgrupo">
    </div>
    <div class="input">
      <span>Grupo</span>
      <p-dropdown  styleClass="dashboard-dropdown"[options]="groups" [(ngModel)]="model.id_group" placeholder="Selecciona un grupo"></p-dropdown>
    </div>
    <div class="button">
      <a (click)="addSubgroup()">
        <i class="material-icons">add_box</i>
        Añadir
      </a>
    </div>
  </div>

  <div class="list">
    <p-dataTable [emptyMessage]="emptyMsg" styleClass="dashboard-tables settings" [(value)]="subgroups"  [(selection)]="selectedSubgroup"  [paginator]="displayPagination"  [rows]="pagination" [responsive]="true">
        <p-column field="subgroup_name" header="Nombre" ></p-column>
        <p-column field="group_name" header="Grupo" ></p-column>
        <p-column field="options" header="opciones" styleClass="col-options" >
          <ng-template let-subgroup="rowData" pTemplate="body">
            <a (click)="selectSubgroup(subgroup)">              
              <i class="material-icons edit-button">mode_edit</i>
            </a>
            <a (click)="deleteSubgroup(subgroup)">              
              <i class="material-icons delete">delete</i>
            </a>
        </ng-template>
        </p-column>
    </p-dataTable>

  </div>
</div>


<p-dialog styleClass="dashboard-dialog" header="Detalles del subgrupo" [(visible)]="displayDialog" [responsive]="true" showEffect="ease" [modal]="true">
     <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="selectedSubgroup">
        <div class="ui-grid-row">
            <div class="ui-grid-col-12"><label for="group">Grupo</label></div>
            <div class="ui-grid-col-12"><p-dropdown styleClass="dropdown-dialog" [options]="groups" [(ngModel)]="selectedSubgroup.id_group" placeholder="Selecciona un grupo"></p-dropdown></div>
        </div>         
        <div class="ui-grid-row">
            <div class="ui-grid-col-12"><label for="subgroup_name">Nombre</label></div>
            <div class="ui-grid-col-12"><input pInputText id="subgroup_name" [(ngModel)]="selectedSubgroup.subgroup_name" /></div>
        </div>                  
    </div>
    <p-footer>
        <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
          <a (click)="displayDialog = false" class="cancel">              
              cancelar
            </a>  
          <a (click)="updateApi(selectedSubgroup)">              
              Guardar
            </a>            
        </div>
    </p-footer>
</p-dialog>

<p-dialog styleClass="dashboard-dialog delete" header="Eliminar el Subgrupo" [(visible)]="displayDialogDelete" [responsive]="true" showEffect="ease" [modal]="true">
    <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="selectedSubgroup">
        <div class="ui-grid-row">
            <span class="title">¿Estás seguro de eliminar el subgrupo?</span>
            <span class="info">{{selectedSubgroup.subgroup_name}}</span>
        </div>
    </div>
    <p-footer>
        <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
          <a (click)="displayDialogDelete = false" class="cancel">              
              cancelar
            </a>  
          <a (click)="deleteApi(selectedSubgroup)">              
              Eliminar
            </a>            
        </div>
    </p-footer>
</p-dialog>