@import "~assets/variables.scss";
@import "~assets/mixins.scss";

#tablafacturas{
    font-size:12px;
}
input{
width:100%;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
	& + label {
	  font-size: 15px;
	  color: white;
	  background-color: $mainColor;
	  display: inline-block;
	  margin: 0 auto;
	  text-align: center;
	  padding: 10px;
	  float: none;
	}

	&:focus + label,
	& + label:hover {
	  cursor: pointer;
	}
  }

.container-billing {
    background: $bgWhite;
    border: 1px solid $borderColor;    
    border-radius:2px;
    margin-bottom: 30px;
    &.no-projects {
        width: 500px;
        height: 80px;
        vertical-align: middle;
        /*top: calc(50% - 40px);*/
        position: absolute;
        left: calc(50% - 250px);
    }
    .list {
        .header {
            float: left;
            width: 100%;
            background: #F7F8F9;
            font-size: 13px;
            padding: 15px;
            border-top: 1px solid #efefef;
            border-bottom: 1px solid #efefef;
            legend {
                float: left;
                label {
                    padding:2px 5px;
                    border-radius: 2px;
                    color: white;
                    &.high {
                        background: $dangerColor;
                    }
                    &.low {
                        background: $secondColor;
                    }
                }
            }
            .footer {
                float: right;
            }
        }

        .status {
            display: block;
            text-align: center;
            padding: 10px 0;
            margin-top: 0px;
            line-height: 4px;
            margin-bottom: 4px;
            color:$bgWhite;
            &.ended {
                background: $dangerColor;                
            }
            &.progress {
                background: $secondColor;
            }
            &.approved {
                background: $thirdColor;
            }
        }
        .menu {
            display: table;
            width: 100%;
            a {
                display: table-cell;
                text-align: center;
                i:hover {
                    cursor: pointer;
                }
                i.edit-button {
                    color: $mainColor;
                }
                i.exit-button {
                    color: $thirdColor;
                }
                i.exit-button-parcial {
                    color: orange;
                }
                i.work_sintramite {
                    color: green;
                }
                i.doc {
                    color: orange;
                }
                i.work_entramite {
                    color: red;
                }
                i.comment {
                    color: blue;
                }
                i.delete {
                    color: $dangerColor;
                }
                i.desglose {
                    color: $thirdColor;
                }    
                i.pdf{
                    color:blue;
                }      
                i.abono{
                    color:red;
                }        
            }
        
        }
                
    }
    .export {
        .header {
            float: left;
            width: 100%;
            background: #F7F8F9;
            font-size: 13px;
            padding: 15px;
            border-top: 1px solid #efefef;
            border-bottom: 1px solid #efefef;
            legend {
                float: left;
                label {
                    padding:2px 5px;
                    border-radius: 2px;
                    color: white;
                    &.high {
                        background: $dangerColor;
                    }
                    &.low {
                        background: $secondColor;
                    }
                }
            }
            .footer {
                float: right;
            }
        }

        .status {
            display: block;
            text-align: center;
            padding: 10px 0;
            margin-top: 0px;
            line-height: 4px;
            margin-bottom: 4px;
            color:$bgWhite;
            &.ended {
                background: $dangerColor;                
            }
            &.progress {
                background: $secondColor;
            }
            &.approved {
                background: $thirdColor;
            }
        }
        .menu {
            display: table;
            width: 100%;
            a {
                display: table-cell;
                text-align: center;
                i:hover {
                    cursor: pointer;
                }
                i.description {
                    color: $mainColor;
                }
                i.delete {
                    color: $dangerColor;
                }      
            }
        
        }
                
    }
    .container-title {
        border-bottom: 1px solid $greyColor;
        margin: 0 15px;
        .add-bill {
            float: right;
            margin: 10px 0 10px 20px;            
            .big-button {
                background:$mainColor;
                color:$fontWhite;
                padding: 13px 15px 12px 30px;
                float: right;
                position: relative;
                top: 0;
                font-size: 12px;
                &.export {
                    background: $thirdColor;
                    margin-left: 10px;
                }
                i {
                    color: $fontWhite;
                    position: absolute;
                    left: 5px;
                    top:7px;
                }
                &:hover {
                    cursor: pointer;
                }
            }            
        }
        span.title {
            font-size: 14px;
            display: inline-block;
            margin: 10px 0px;
            line-height: 40px;         
        }
        .search-input-block {
            width: 100%;
            float: right;
            max-width: 300px;
            margin: 0 auto;
            position: relative;
            &.hidden {
                opacity: 0;
            }
            i {
                position: absolute;
                left: 5px;
                top: 19px;
                color: $lightColor;

            }
            input.search {
                min-width: 300px;
                float: right;
                margin: 15px 0;
                padding: 6px 6px 6px 30px;            
                background:$bgWhite;
                border: 1px solid $greyColor;
                &:focus {
                    outline: none;
                }
                &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                    color: $lightColor;
                    font-weight: 300;
                }
                &::-moz-placeholder { /* Firefox 19+ */
                    color: $lightColor;
                    font-weight: 300;
                }
                &:-ms-input-placeholder { /* IE 10+ */
                    color: $lightColor;
                    font-weight: 300;
                }
                &:-moz-placeholder { /* Firefox 18- */
                    color: $lightColor;
                    font-weight: 300;
                }                  
            }            
        }
        
    }
    
}
.modal-header {
    float: right;
    a {
        top: -18px;
        position: relative;
        padding-right: 30px;
        &:hover {
            cursor: pointer;
        }
    }
}
.modal {
    .icon {
        color: #9CA4A9;
        font-size: 48px;
        border: 1px solid #9ca4a9;
        border-radius: 100%;
        padding: 10px;
        margin: 0 auto;
        display: block;
        width: 70px;
        height: 70px;
    }
    label {
        text-align: center;
        display: block;
        margin: 20px 0;
        font-size: 16px;
        color: #8f8f90;
        &.input {
            margin-top: 20px;
            font-size: 13px;
        }
    }
    p {
        text-align: center;
        display: block;
        margin: 20px auto;
        font-size: 14px;
        color: #8f8f90;
        width: 275px;
        padding: 0 33px;
        font-weight: 300;        
    }
    .sources {
        padding: 3px;
        width: 250px;  
        display: block;
        margin: 0 auto;
        .item {
            width: 50%;
            float: left;
            text-align: center;
            color: #574f4b;
            font-weight: 400;
            font-size: 14px;
            line-height: 32px;
            &:hover {
                cursor: pointer;
            }
            &.active {
                color: white;
                background: #0058a2;
                border-radius: 3px;
                font-weight: 500;
                &:hover {
                    cursor: default;
                }
            }
        }
        .selector {
            margin: 21px 0;
            float: left;
            width: 100%;            
        }
    }
    .button {
        float: left;
        width: 100%;
        background: #168EEA;
        color: white;
        text-align: center;
        border-radius: 0 0 3px 3px;
        a {
            padding: 9px;
            margin: 0 20px;
            label {
                color: white;
                display: inline-block;
                font-size: 13px;
                font-weight: 500;
                text-transform: uppercase;
            }
            i {
                display: inline-block;
                position: relative;
                top: 7px;
                margin-left: 7px;
            }
            &.cancel {
                background:$dangerColor;
            }
            &:hover {
                cursor: pointer;
            
                i, label {
                    cursor: pointer;
                }

            }
        }
    }

}

.bd-example-modal-lg .modal-dialog{
    display: table;
    position: relative;
    margin: 0 auto;
    top: calc(50% - 24px);
  }
  
  .bd-example-modal-lg .modal-dialog .modal-content{
    background-color: transparent;
    border: none;
  }


/*   #myModal 
{
    width: 1400px !important; 
}  */

#myModal {
    overflow-y: initial !important;
    min-width: 1200px;
}

#myModalBody{
  max-height: 500px;
  min-width: 1200px;
  overflow-y: auto;
}