<div class="container">
  <h3>Exportación de Salonario de envíos</h3>
  <p>
    Selecciona unas fechas de inicio y fin para exportar un resumen de envíos
  </p>
  <div class="container-form">
    <form>
      <div class="row mb-3">
        <div class="col-3">
          <label for="exampleInputEmail1" class="form-label"
            >Fecha de inicio</label
          >
          <my-date-picker
            name="mydate"
            [options]="myDatePickerOptions"
            [(ngModel)]="start_date"
            (dateChanged)="onDateStartChanged($event)"
          ></my-date-picker>
        </div>
        <div class="col-3">
          <label for="exampleInputEmail1" class="form-label"
            >Fecha de fin</label
          >
          <my-date-picker
            name="mydate"
            [options]="myDatePickerOptions"
            [(ngModel)]="end_date"
            (dateChanged)="onDateEndChanged($event)"
          ></my-date-picker>
        </div>
        <div class="col"></div>
      </div>

      <div class="row">
        <div class="col" style="display: flex; justify-content: end">
          <button type="submit" (click)="exportExcel()" class="btn btn-success">
            Exportar a Excel
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
