<ng-template
  #customOpenDayEventsTemplate
  let-events="events"
  let-isOpen="isOpen"
>
  <h4 *ngIf="events.length == 0">No hay reservas en este dia</h4>
  <h4 class="title-open-day" *ngIf="events.length > 0">
    Resumen del dia seleccionado
  </h4>
  <div
    class="wrapper-reserve"
    *ngFor="let event of events; let x = index"
    [ngStyle]="{ 'border-color': event.color }"
  >
    <h6>
      <span> <b>Nombre del pedido: </b>{{ event.subconcept }} </span>
      <button
        type="button"
        class="btn btn-outline-success btn-sm"
        (click)="goToCampaign(event)"
      >
        Ir al pedido
      </button>
    </h6>

    <div class="container-reservation-day">
      <h4>Cliente</h4>
      <h4>Artículo reservado</h4>
      <h4>Unidades reservadas</h4>
      <h4>Fecha de reserva</h4>
      <span class="customer">{{ event.customer }}</span>

      <span class="title">{{ event.title }}</span>

      <span class="amount">
        <i class="material-icons">work</i>{{ event.amount }} unidades</span
      >
      <span class="title"
        >Desde {{ event.start | date : "dd/MM/yyyy" }} al
        {{ event.end | date : "dd/MM/yyyy" }}</span
      >
    </div>
  </div>
</ng-template>

<ng-template #customCellTemplate let-day="day">
  <div *ngIf="day.events.length == 0" class="container-date">
    <div [ngClass]="day.isToday ? 'today' : !day.inMonth ? 'past' : 'day'">
      {{ day.date | date : "dd" }}
    </div>
  </div>
  <div *ngIf="day.events.length > 0" class="container-date">
    <div [ngClass]="day.isToday ? 'today' : !day.inMonth ? 'past' : 'day'">
      {{ day.date | date : "dd" }}
    </div>
    <div
      class="container-reservation"
      *ngFor="let event of day.events; let x = index"
      (click)="handleEvent('Clicked', day.events[x])"
      [ngStyle]="{ 'border-color': event.color }"
    >
      <span class="customer">{{ event.customer }}</span>
      <span class="title">{{ event.title }}</span>
      <span class="amount">
        <i class="material-icons">work</i>{{ event.amount }} unidades</span
      >
    </div>
  </div>
</ng-template>
<div class="container-own">
  <div class="row">
    <div class="col">
      <h2>Calendario de reservas</h2>
    </div>
    <div class="col article-info" *ngIf="articleInfo">
      <h5>
        Reservas de artículo:
        <span class="badge badge-warning">{{ articleInfo }}</span>
      </h5>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <div class="row align-items-center">
        <div class="btn-group" role="group" aria-label="...">
          <button
            type="button"
            class="btn btn-link"
            mwlCalendarPreviousView
            [view]="view"
            [(viewDate)]="viewDate"
            (viewDateChange)="viewDateChange.next(viewDate)"
          >
            <i class="material-icons">keyboard_arrow_left</i>
          </button>
          <button
            type="button"
            class="btn btn-link"
            mwlCalendarNextView
            [view]="view"
            [(viewDate)]="viewDate"
            (viewDateChange)="viewDateChange.next(viewDate)"
          >
            <i class="material-icons">keyboard_arrow_right</i>
          </button>
        </div>
        <h3 class="title">
          {{ viewDate | calendarDate : view + "ViewTitle" : locale }}
        </h3>
      </div>
    </div>
    <div
      class="col-md-4 align-items-center justify-content-end"
      [ngStyle]="{ display: 'flex' }"
    >
      <div>
        <button
          type="button"
          class="btn btn-link"
          mwlCalendarToday
          [(viewDate)]="viewDate"
          (viewDateChange)="viewDateChange.next(viewDate)"
        >
          Hoy
        </button>
      </div>
    </div>
  </div>
  <div class="container-calendar">
    <mwl-calendar-month-view
      [viewDate]="viewDate"
      [events]="events"
      [activeDayIsOpen]="activeDayIsOpen"
      [locale]="locale"
      [weekStartsOn]="weekStartsOn"
      [refresh]="refresh"
      (eventTimesChanged)="eventTimesChanged($event)"
      (dayClicked)="dayClicked($event)"
      (eventClicked)="eventClicked($event)"
      [cellTemplate]="customCellTemplate"
      [openDayEventsTemplate]="customOpenDayEventsTemplate"
    >
    </mwl-calendar-month-view>
  </div>
</div>
