$header-bg: #F5F5F5;
$font-header-color: #418EE5;
$bgWhite: #FFFFFF;
$secondaryBG: #F7F8F9;

$mainColor: #ffa500; //#0058a2;
$secondColor: #e1bb00;
$thirdColor: #01ab5d;
$dangerColor: #E76F6F;
$darkColor: #1b1d1f;
$lightColor: #a9a8a8;
$greyColor: #adaeae;
$softGrey: #F7F8F9;
$bottomForm: #FBFBFC;
$borderColor: #efefef;


$fontWhite: #FFFFFF;
$fontDark: #222222;

$radiusButton: 15px;
