<div class="inner-container" *ngIf="info.campaign_code; else loading">
  <div class="title">
    <div class="label">
      Desglose del {{ info.status }}
      <span class="campaign-code">{{
        info.id_status === "1" ? info.campaign_code : info.ped_code
      }}</span>
      <span class="campaign-name">{{ info.campaign_name }}</span>
      <span class="campaign-name"
        ><i> - Cliente: {{ info.customer.name }}</i></span
      >
    </div>

    <div class="return-projects">
      <a class="big-button" routerLink="/proyectos">
        <i class="material-icons">reply</i>
        Volver al listado
      </a>
      <a
        *ngIf="id_company == '416'"
        class="big-button export"
        routerLink="/salonario-envios/{{ id }}"
      >
        <i class="material-icons">inventory</i>
        Salonario de envio
      </a>
      <a
        *ngIf="
          info.already_invoiced == '0' &&
          (role == 3 || role == 5) &&
          info.customer.numfacturas == 0
        "
        class="big-button second"
        (click)="showDialogCrearFactura = true"
      >
        <i class="material-icons">receipt</i>
        Facturar {{ info.status }}
      </a>
      <a
        class="big-button"
        style="background-color: blueviolet !important"
        (click)="showDialogCrearPedido = true"
        *ngIf="info.id_status === '1'"
      >
        <i class="material-icons">edit</i>
        Hacer Pedido
      </a>
    </div>
  </div>
</div>
<div
  *ngIf="
    id_company == '416' && info.status === 'Pedido' && info.start_date_event
  "
  class="date-container"
>
  <div>
    <b>Fecha de inicio de evento: </b><span>{{ info.start_date_event }}</span>
  </div>
  <div>
    <b>Fecha de fin de evento: </b><span>{{ info.end_date_event }}</span>
  </div>
</div>
<div class="panels" *ngIf="info.campaign_code">
  <budget-project
    idProject="{{ id }}"
    [infoCustomer]="info"
    [typeTable]="'project'"
  ></budget-project>

  <div>
    <div *ngIf="id_company == 416 && info.status === 'Pedido'">
      Método de envío:
      <select
        (change)="actualizarobs()"
        style="height: 40px"
        [(ngModel)]="info.shipping_method"
        placeholder="Seleccione un método de envio"
      >
        <option value="Por agencia">Por agencia</option>
        <option value="Recogida por el cliente">Recogida por el cliente</option>
        <option value="Enviado por Durbanity">Enviado por Durbanity</option>
      </select>
      Método de recepción:
      <select
        (change)="actualizarobs()"
        style="height: 40px"
        [(ngModel)]="info.shipping_method_return"
        placeholder="Seleccione un método de recepción"
      >
        <option value="Por agencia">Por agencia</option>
        <option value="Recogida por el cliente">Recogida por el cliente</option>
        <option value="Enviado por Durbanity">Enviado por Durbanity</option>
      </select>
    </div>
    <div style="width: 100%; height: 20px"></div>
    <div style="float: left; width: 50%; padding-right: 5px">
      Observaciones para el cliente:
      <textarea
        rows="10"
        style="width: 100%; resize: none"
        [readonly]="readonly_obs"
        [(ngModel)]="info.observ_cli"
        (blur)="actualizarobs()"
      ></textarea>
    </div>
    <div style="float: left; width: 50%; padding-left: 5px">
      Observaciones internas:
      <textarea
        rows="10"
        style="width: 100%; resize: none"
        [readonly]="readonly_obs"
        [(ngModel)]="info.observ_int"
        (blur)="actualizarobs()"
      ></textarea>
    </div>
  </div>
</div>

<p-dialog
  styleClass="dashboard-dialog delete"
  header="Facturar Pedido"
  [(visible)]="showDialogCrearFactura"
  [responsive]="true"
  showEffect="ease"
  [modal]="true"
>
  <div class="ui-grid ui-grid-responsive ui-fluid">
    <div class="ui-grid-row">
      <span class="title"
        >Va a Facturar el {{ info.status }} ¿Desea continuar? <br />Fecha de
        facturación: <input [(ngModel)]="fechafactura" />
      </span>
      <span class="info" *ngIf="info.status == 'Presupuesto'"
        >El {{ info.status }} pasará a ser <b>Pedido</b></span
      >
    </div>
  </div>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
      <a (click)="showDialogCrearFactura = false" class="cancel"> cancelar </a>
      <a (click)="createBill()"> Facturar </a>
    </div>
  </p-footer>
</p-dialog>

<p-dialog
  styleClass="dashboard-dialog delete"
  header="Hacer Pedido"
  [(visible)]="showDialogCrearPedido"
  [responsive]="true"
  showEffect="ease"
  [modal]="true"
>
  <div class="ui-grid ui-grid-responsive ui-fluid">
    <div class="ui-grid-row">
      <span class="title"
        >Va a Pasar a Pedido el {{ info.status }} ¿Desea continuar?</span
      >
    </div>
  </div>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
      <a (click)="showDialogCrearPedido = false" class="cancel"> cancelar </a>
      <a (click)="createPedido()"> Hacer Pedido </a>
    </div>
  </p-footer>
</p-dialog>

<ng-template #loading>
  <h2 class="title-loading">
    <div class="loader"></div>
    Cargando el desglose...
  </h2>
</ng-template>
